<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search item</title>
</head>
<body>
<h1>Search an item</h1>
<form action="/search-name">
    <label for="name">Search by name:</label>
    <input id="name" type="text" name="name" required><br><br>
    <input type="submit" value="Send">
</form>
<form action="/search-remark">
    <label for="remark">Search by remark:</label>
    <input id="remark" type="text" name="remark" required><br><br>
    <input type="submit" value="Send">
</form>
<br><br>
<a href="/items">Back to the administration</a>
</body>
</html>
